/*!
Theme Name: newinvoice
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: newinvoice
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

newinvoice is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Comments
# Infinite scroll
# Media
    ## Captions
    ## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
     ========================================================================== */
.wrap-bread{ text-align: right; line-height: 50px; }
figure{ margin-bottom: 10px; }
figure.aligncenter{ width: auto !important; text-align: center; font-style: italic; }
.article-post img.aligncenter, figure.aligncenter img{
    margin: 0 auto;
    display: block;
}
.wp-pagenavi{ text-align: center; }
footer ul{ padding: 0px; }
.e-heading{ margin-bottom: 0px; }
footer .widget_nav_menu{ margin-bottom: 25px; }
footer .nf-form-title h3{
    color: #fff;
    display: inline-block;
    padding: 0 0 2px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.6;
}
.nf-form-fields-required{/* color: #999; */}
footer .nf-field-label label{
    font-weight: bold;
    /* color: #999; */
    font-size: 14px;
}
footer .nf-form-content .ninja-forms-field{
        display: block;
    width: 100%;
    height: 36px !important;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #8c8c8c;
    background-color: #fff !important;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    /*background: #120f1d !important;*/
    border: 0 !important;
}
footer .nf-form-content .ninja-forms-field:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
footer .nf-form-content{
    padding-right: 30px;
    padding-left: 0px;
}
footer .label-above .nf-field-label{
    margin-bottom: 5px !important;
}
footer .nf-form-content textarea.ninja-forms-field{
    height: 70px !important;
}
footer .nf-form-content input[type='button']{
    color: #fff;
    background-color: #2480d4 !important;
    border-color: #298eea !important;
    width: 100% !important;
}
footer .nf-error.field-wrap .nf-field-element:after{
        background: #e80000;
    color: #fff;
    font-family: FontAwesome;
    font-size: 18px;
    content: "\f12a";
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    height: 35px;
    width: 50px;
    line-height: 35px;
    text-align: center;
    transition: all .5s;
    display: none; 
}
footer .nf-pass.field-wrap .nf-field-element:after{
    height: 35px;
    line-height: 35px;
}
.down-item-list img { float: left; }
.list-unstyled div.fa{ display: inline-block; float: left; }
.wrapper .nf-form-content .ninja-forms-field{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.wrapper .nf-form-content textarea{
    height: 50px !important;
}
.wrapper .nf-form-content .ninja-forms-field:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.wrapper .nf-form-content label{
    color: #333;
    font-size: 14px;
    line-height: 1.6;
}
.wrapper .nf-form-content input[type="button"]{
    color: #ffffff;
    background-color: #3276b1;
    border-color: #285e8e;
    width: 50%;
    text-transform: uppercase;
}
.form-dangky-sudung .nf-error.field-wrap .nf-field-element:after {
    background: #e80000;
    color: #fff;
    font-family: FontAwesome;
    font-size: 16px;
    content: "\f12a";
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    height: 33px;
    width: 38px;
    line-height: 36px;
    text-align: center;
    transition: all .5s;
    display: none;
}
.nf-form-fields-required{ display: none; }
.form-dangky-sudung .nf-form-content input[type="text"], .form-dangky-sudung .nf-form-content input[type="tel"], .form-lien-he .nf-form-content input[type="text"], .form-lien-he .nf-form-content input[type="tel"], .form-lien-he .nf-form-content input[type="email"]{
    width: 80%;
}
#ninja_forms_required_items, .nf-field-container{
    margin-bottom: 15px !important;
}
.wrapper .form-dangky-sudung textarea, .wrapper .form-lien-he textarea{
    height: 55px !important;
}
.title-box-v2 {
    text-align: center;
    margin-bottom: 15px;
}
#bizapp-footer .nf-form-content label{ color: #fff; }
#bizapp-footer .nf-form-title h3{ color: #e3821d; }
.wrapper .nf-form-content hr.ninja-forms-field{ border-radius: 0px !important; height: 2px !important; padding: 0px !important; }

.form-lien-he .nf-error.field-wrap .nf-field-element:after{
    display: none;
}
#send_request .nf-form-title h3{ display: none; }
.nf-response-msg p{ color: #22ef44; }