@charset "utf-8";
/* CSS Package Color */

/*Màu 1 --- #c69e6d*/

.border-title-dm, .video-image-prod ul li a{border-right: 1px solid #c69e6d;}

.danhmuc-ecom ul#menu-main-menu > li:hover{border-top: 1px solid #c69e6d;border-bottom: 1px solid #c69e6d;}
.advise-pro{border: 1px solid #c69e6d !important;}

/*Màu 2 --- #f8931f -- Màu cam */
.danhmuc-ecom .title-danhmuc-ecom, 
.menu-search-header button, .row-footer #ninja_forms_field_8, .logo .menu-cate .title-menu-cate > a, .info-prod .order-store-prod button, .info-prod .order-store-prod p.order_now{background-color:#f8931f !important;}
.color-orange{color:#f8931f;}
.ul-danhmuc-mini{border: 1px solid #f8931f;}

.welcome-subcribers span,
.list-sale-pro .title-list-sale-pro p.color-orange,
.color-orange,
.welcome-subcribers .email-subcribers button, 
.video-image-prod ul li a,.comment-prod .title-nx, .breadcrumd-ecom .breadcrumbs p, .info-prod .price-stock .glyphicon-ok, .wrap-advise-pro .dieuhuong-chitietsp span.glyphicon-ok,  .order-store-prod .hot-line{color:#f8931f !important;}

#menu-main-menu{border: 1px solid #f8931f !important;}
.danhmuc-ecom ul#menu-main-menu > li:hover{border-top: 1px solid #f8931f;border-bottom: 1px solid #f8931f;}
.danhmuc-ecom ul li ul.sub-menu{border-right: 1px solid #f8931f;border-top: 1px solid #f8931f;border-bottom: 1px solid #f8931f;}

.row-footer-social ul li span.fa-youtube, .row-footer-social ul li span.fa-google-plus, .row-footer-social ul li span.fa-comments {color:#f8931f !important;}

/*Màu 3 --- #0072bb - màu blue*/
.wrap-menu-search-header, .welcome-subcribers .email-subcribers #ninja_forms_field_8, #end-footer{background-color:#0072bb !important;}
.list-sale-pro .title-list-sale-pro p, .row-footer p.text-sub{color:#1a1a1a !important;}

/*Màu 4 --- #cccccc*/
.panel-body-pro .content-item-pro:hover{border: 1px solid #cccccc !important;}

/*Màu 5 --- #e6e6e6*/
#header, .pagenavi-ecom, #footer, #sticky-menu-vs-search{background-color:#f2f2f2 !important;}

/*Màu 6 --- #ffffff*/

.menu-search-header .glyphicon-search, .danhmuc-ecom .title-danhmuc-ecom p, .danhmuc-ecom .title-danhmuc-ecom .glyphicon-chevron-down,#end-footer p{color:#fff;}
.social-search-menu{background-color:#fff;}

/*Màu 7 --- #9f1c21*/
.content-item-pro button{background-color:#9f1c21; border:1px solid #e2761e;}

/*Màu 8 --- #f90819*/
.panel-body-pro .prices{color:#f90819;} 

/*Màu 9 --- #003164*/
.panel-body-pro .title-pro, .item-cate-widget .panel-heading-title h3, .row-footer .title-tab-footer, .row-footer ul li a, .row-footer .italic-text, .summary-news-home a{color:#013066;}