@charset "utf-8";
/* CSS Package Color */

/*Màu 1 --- #c69e6d*/
.danhmuc-ecom .title-danhmuc-ecom p,
.danhmuc-ecom .title-danhmuc-ecom .glyphicon-chevron-down,
.welcome-subcribers span,
.list-sale-pro .title-list-sale-pro p.color-orange,
.color-orange,
.welcome-subcribers .email-subcribers button, .welcome-subcribers .email-subcribers #ninja_forms_field_8,
.panel-body-pro .prices, 
#end-footer p, .row-footer #ninja_forms_field_8, 
.menu-search-header .glyphicon-search, .video-image-prod ul li a,.comment-prod .title-nx, .breadcrumd-ecom .breadcrumbs p, .info-prod .price-stock .glyphicon-ok, .wrap-advise-pro .dieuhuong-chitietsp span.glyphicon-ok{color:#c69e6d !important;}

.border-title-dm, .video-image-prod ul li a{border-right: 1px solid #c69e6d;}
.danhmuc-ecom ul li ul.sub-menu{border-right: 1px solid #c69e6d;border-top: 1px solid #c69e6d;border-bottom: 1px solid #c69e6d;}
.danhmuc-ecom ul#menu-main-menu > li:hover{border-top: 1px solid #c69e6d;border-bottom: 1px solid #c69e6d;}
#menu-main-menu, .panel-body-pro .content-item-pro:hover, .advise-pro{border: 1px solid #c69e6d !important;}

/*Màu 2 --- #010101*/
.danhmuc-ecom .title-danhmuc-ecom, 
.menu-search-header button, 
.welcome-subcribers .email-subcribers button, 
.welcome-subcribers .email-subcribers #ninja_forms_field_8,
.view-all-sale-off, 
.row-footer button, .row-footer #ninja_forms_field_8,
#end-footer,
.carousel-indicators .active, .content-item-pro button,
.percent-off-sticky-cate, .logo .menu-cate .title-menu-cate > a,
.info-prod .order-store-prod button, .info-prod .order-store-prod p.order_now{background-color:#010101 !important;}
.info-prod .order-store-prod button, .info-prod .order-store-prod p.order_now{border:#010101 !important;}
.ul-danhmuc-mini{border: 1px solid #010101;}

.danhmuc-ecom ul li a,
.welcome-subcribers .title-wel,
.item-cate-widget .panel-heading-title h3, .header-right .menu-top ul li a, .row-footer p, .row-footer ul li a,.welcome-left .content-welcome-left p, .welcome-subcribers .email-subcribers p, .panel-body-pro .title-pro, .search-by-cate ul li a, .navbar-search-brand ul li a, .book-hand-buy ul li a, .info-prod .info-pro-short p, .info-prod .price-stock p, .info-prod .transport-color-prod p, .welcome-allesite p, .wrap-advise-pro .dieuhuong-chitietsp p,.advise-pro ul li a, .info-prod .price-stock span{color:#010101 !important;}
.header-right .menu-top ul li a{border-right: 1px solid #010101;}
.list-sale-pro .title-list-sale-pro{background:#010101;border-radius: 5px;height: 79px; position:relative;}
.list-sale-pro .title-list-sale-pro:after{position:absolute; border-top:10px solid #010101; 
border-right:15px solid transparent;border-left:15px solid transparent; bottom:-10px; width:0px; height:0px;content:""; left:80px;}

/*Màu 3 --- #989898*/
.wrap-menu-search-header{background-color:#989898 !important;}

/*Màu 4 --- #808080*/
.social-search-menu{background-color:#808080 !important;}

/*Màu 5 --- #e6e6e6*/
#header, .pagenavi-ecom, #footer, #sticky-menu-vs-search{background-color:#e6e6e6 !important;}

/*Màu 6 --- #ffffff*/

.list-sale-pro .title-list-sale-pro p{color:#fff;}

